<!DOCTYPE html>
<html>
	<head> 
	</head>
	<body> 
		
		<h1> Connect 4 Game</h1>
		<br>
		<div id = 'coin_parent'></div>

		<img id = 'tray' usemap = "#traymap">
		<audio id="sound_effect" class="audio_player" preload="auto">
			<source src="http://www.javascriptkit.com/script/script2/click.mp3" type="audio/mp3">
		</audio>
		<map name="traymap">
			<area id= "col0" shape="rect" coords="15,15,70,70" alt="col0" >
			<area id= "col1" shape="rect" coords="100,15,155,70" alt="col1">
			<area id= "col2" shape="rect" coords="185,15,240,70" alt="col2">
			<area id= "col3" shape="rect" coords="270,15,325,70" alt="col3">
			<area id= "col4" shape="rect" coords="355,15,410,70" alt="col4">
			<area id= "col5" shape="rect" coords="440,15,495,70" alt="col5">
			<area id= "col6" shape="rect" coords="525,15,580,70" alt="col6">
			
		</map>
		
	</body>
</html>