// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color:#d7eff2;
}
h1{
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	text-align: center;
}

area{
	cursor: pointer;
}


#coin_parent div[id$="2"]{
	background-image: url(/assets/player_2.png); 
	height:65px;
	width:65px;
	margin:1px;
	position:absolute;
	z-index:-1;
}

#coin_parent div[id$="1"]{
	background-image: url(/assets/player_1.png); 
	height:65px;
	width:65px;
	margin:1px;
	position:absolute;
	z-index:-1;
}

#tray{
	background-image: url(/assets/Tray.png); 
	height:400px;
	width:600px;
	top:200px;
	left:375px;
	position:absolute;
}